@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: Ubuntu, Corbel, Calibri, sans-serif;
    background-color: antiquewhite;
}

h1 {
    color: chocolate;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}
